# Create a virtual environment named 'venv'.
python3 -m venv venv

# Activate the virtual environment.
source venv/bin/activate

# Install the packages inside the environment.
pip install Flask Flask-SQLAlchemy Flask-Bcrypt
